html {
	scroll-behavior: smooth;
}
:focus {
	outline: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
}
.mb-gall-cont {
	height: 220px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%;
}
.gallery .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
}
.gallery .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.bg-green {
	background-color: green;
}
.bg-red {
	background-color: red;
}
.img-fluid {
	height: 100%;
	width: 100%;
}
.bg-grey-card {
	background-color: #efefef;
}
#fibra-icon {
	width: 55px !important;
	height: auto;
}

@media (max-width: 450px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}

@media (max-width: 400px) {
	.btn.filter {
		padding-left: 1.1rem;
		padding-right: 1.1rem;
	}
}

a {
	text-decoration: none;
}
.logo-mobile {
	/* height: 42px;
    width: 85px; */
	width: 6.875rem;
	height: 3.7rem;
}
.profile-icon {
	height: 27px;
	width: 27px;
}
.home-icon {
	height: 27px;
	width: 27px;
	margin-right: 10px;
}

.absolute-cont {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 11;
}
.nav-flex-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.tab-size {
	max-width: inherit !important;
	flex: 1;
}
#tabs-cont .color-tab {
	color: #ffffff;
}
.PrivateTabIndicator-colorPrimary-104 {
	background-color: #555555;
}
#tabs-cont .tab-one {
	background-color: #94b200;
}
#tabs-cont .tab-two {
	background-color: #9bc200;
}
#tabs-cont .tab-three {
	background-color: #b1cc43;
}
.social-icon {
	height: 19px;
	width: 19px;
	margin: 0px 5px;
}
.reason-border {
	position: absolute;
	width: 1px;
	height: 27px;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	background-color: #000000;
}
.relative {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px;
}
.position-relative {
	position: relative;
}
.desktop-logo {
	width: auto;
	height: 100%;
}
.sub-header-cont {
	height: 100%;
	position: relative;
	max-width: 75rem;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px auto;
}
.complete-line {
	position: absolute;
	z-index: 10;
	height: 45px;
	background-color: #292929;
	width: 33%;
	bottom: 0px;
	right: 0px;
}
.divider {
	border: 0.5px solid #000000 !important;
	margin: 0px 10px !important;
	height: 24px !important;
}
.mobile-only {
	display: none;
}
.mobile-only-checklist {
	display: none !important;
}
.desktop-only {
	display: inherit;
}
.vertical-cont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 31px;
	font-size: 11px;
	color: #292929;
}
.flex-row {
	display: flex;
}
.BackgroundImageOnly-module_background-image__19Xw0 {
	/* position: absolute; */
	width: 100%;
	height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 112px;
	width: 30px;
	background-color: #ff8900;
	font-size: 10px;
	position: absolute;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: 50%;
}
.carousel-control-next,
.carousel-control-prev {
	opacity: 1;
}

.carousel.slide .carousel-indicators li {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #ffffff;
	width: 0.5rem;
	height: 0.5rem;
	opacity: initial;
	border-radius: 50%;
}

.carousel.slide .carousel-indicators .active {
	background: #ff8900 0% 0% no-repeat padding-box;
	border: 1px solid #ff8900;
	/* transform: scale(1.375); */
}

.slick-dots li.slick-active button:before {
	color: #ff8900;
	font-size: 0.8rem;
}

slick-dots li button:focus:before,
.slick-dots li button:hover:before {
	color: #ff8900;
}
.slick-dots li button:before {
	font-size: 0.8rem;
}
.slick-dots {
	bottom: -35px;
}

.carousel-control-prev-icon {
	border-radius: 0px 8px 8px 0px;
	left: 0;
}

.carousel-control-next-icon {
	border-radius: 8px 0px 0px 8px;
	right: 0;
}

.carousel-control-next-icon:after {
	/* content: '>'; */
	font-size: 22px;
}

.carousel-control-prev-icon:after {
	/* content: '<'; */
	font-size: 22px;
}
.d-none {
	display: none !important;
}
.simple-title {
	margin: 0px;
	text-align: center;
	font-size: 28px;
}
.simple-p {
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	margin: 0px;
}
.b-simple-p {
	text-align: center;
	font-size: 20px;
	margin: 0px;
}
.semi-black {
	color: #292929;
}
.sub-black {
	color: #525252;
}
.green {
	color: #9ac200;
}
.divier {
	width: 100%;
	border: 1px solid #292929;
	background-color: #292929;
}
.padding-b30 {
	padding-bottom: 30px;
}
.padding-b20 {
	padding-bottom: 20px;
}
.step-two-btn-cont .force-grey {
	color: #707070 !important;
	background: #e8e8e8 0% 0% no-repeat padding-box !important;
}
.padding-20 {
	padding: 20px;
}
.full-height {
	height: 100%;
}
.d-flex {
	display: -ms-flexbox;
	display: flex;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
.flex-1 {
	flex: 1;
}
.jc-center {
	justify-content: center;
}
.jc-start {
	justify-content: flex-start;
}
.jc-end {
	justify-content: flex-end;
}
.jc-space-b {
	justify-content: space-between;
}
.jc-space-a {
	justify-content: space-around;
}
.ai-start {
	align-items: flex-start;
}
.ai-end {
	align-items: flex-end;
}
.ai-center {
	align-items: center;
}
.p-right-10 {
	padding-right: 10px;
}
.p-right-20 {
	padding-right: 20px;
}
.mt-n-10 {
	margin-top: -10px;
}
.mr-5 {
	margin-right: 5px;
}
.bold {
	font-weight: 600;
}
.select-area-btn img {
	width: 25px;
	height: 25px;
}
.icon-cont {
	width: 100%;
	max-width: 1200px;
	justify-content: space-between;
}
.icon-box {
	width: 12%;
	height: 140px;
}
.icon-box-text {
	text-align: center;
	font-size: 14px;
	margin: 0px;
}
.title-20 {
	text-align: center;
	font-size: 20px;
}
.icon-image {
	width: 72px;
	height: 72px;
}
.full-width {
	width: 100%;
}
.no-pd-top {
	padding-top: 0px !important;
}
.no-pd {
	padding: 0px !important;
}

.icon-cont-button {
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
	border-radius: 8px;
	width: 30%;
}
.orange-btn {
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
	border-radius: 8px;
	height: 30px;
}
.standard-p-b {
	padding-bottom: 3rem;
}
.padding-b10 {
	padding-bottom: 10px;
}
.footer-logo {
	width: 155px;
	height: 72px;
}
.footer-text {
	text-align: center;
	font-size: 12px;
	letter-spacing: 0px;
	color: #fafafa;
}
.footer-text a {
	color: #b9ce66;
}
.footer-text a:hover {
	text-decoration: underline;
}
.contact-sub-title {
	text-align: center;
	font-size: 16px;
	letter-spacing: 0px;
	color: #292929;
}
.contact-g-card {
	height: 270px;
	background: #b9ce66 0% 0% no-repeat padding-box !important;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 11px;
	opacity: 1;
}
.contact-grey-card {
	height: 270px;
	background: #e5e5e5 0% 0% no-repeat padding-box !important;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 11px;
	opacity: 1;
}
.contact-grey-card .title {
	text-align: left;
	font-size: 30px;
	letter-spacing: 0px;
	color: #363636;
}
.contact-g-card .d-flex {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.phone-logo {
	width: 104px;
	height: 104px;
}
.contact-card-title {
	font-size: 21px;
	letter-spacing: 0px;
	color: #000000;
}
.contact-card-text {
	text-align: left;
	font-size: 20px;
	letter-spacing: 0px;
	color: #363636;
}
.contact-button {
	border-radius: 23px !important;
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
	width: 60%;
}
.acount-data-text {
	width: 100%;
	font-size: 16px;
	text-align: left;
}
.acount-data-text-dropzone,
.acount-data-text-dropzone strong {
	width: 100%;
	font-size: 16px;
	text-align: center;
}
.acount-data-text span {
	font-weight: 600;
}
.check-circle-green {
	width: 4rem !important;
	height: 4rem !important;
	color: #9ac200;
}
.form-button-step {
	color: #ffffff;
	width: 175px;
	font-size: 11px !important;
	border-radius: 5px !important;
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
}
.form-button-step-two {
	font-size: 11px !important;
	color: #707070 !important;
	border-radius: 5px !important;
	width: 175px;
	background: #e8e8e8 0% 0% no-repeat padding-box !important;
}
.login-button {
	border-radius: 4px;
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
	width: 100%;
	padding-bottom: 10px;
	height: 48px;
}
.or-cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}
.google-icon {
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	left: 10px;
}

.login-button-google {
	height: 48px;
	width: 100%;
	touch-action: manipulation !important;
	font-size: 14px !important;
	line-height: 24px !important;
	letter-spacing: normal !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
	color: rgb(72, 72, 72) !important;
	padding: 10px 12px !important;
	font-weight: 800 !important;
	border-radius: 8px !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: rgb(176, 176, 176) !important;
	background: transparent !important;
	box-shadow: none !important;
	text-transform: capitalize !important;
}
.login-button-google:hover {
	/* background: rgb(255, 255, 255) !important; */
	border-color: rgb(34, 34, 34) !important;
	color: rgb(72, 72, 72) !important;
}
.register-text-cont {
	-webkit-box-align: center;
	display: flex;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
	justify-content: flex-start;
	width: 100%;
}
.lost-pass-text-cont {
	-webkit-box-align: center;
	display: flex;
	align-items: center;
	margin-top: 16px;
	justify-content: flex-start;
	width: 100%;
	text-decoration: underline;
	cursor: pointer;
	font-weight: 500;
}
.change-pass-sub-text {
	color: #8e8e8e;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	padding-bottom: 10px;
	margin: 0px;
}
.text-reg {
	margin-right: 8px;
}
.register-sub-btn {
	font-size: inherit !important;
	font-family: inherit !important;
	font-style: inherit !important;
	font-variant: inherit !important;
	line-height: inherit !important;
	appearance: none !important;
	background: transparent !important;
	border: 0px !important;
	cursor: pointer !important;
	margin: 0px !important;
	padding: 0px !important;
	user-select: auto !important;
	color: rgb(34, 34, 34) !important;
	text-decoration: underline !important;
	border-radius: 4px !important;
	font-weight: 600 !important;
	outline: none !important;
	text-transform: capitalize !important;
}
.or-cont .divider-or {
	width: 45%;
}
.padding-30 {
	padding: 30px;
}
.padding-10 {
	padding: 10px;
}
.padding-0 {
	padding: 0px;
}
.bg-grey {
	background: #efefef 0% 0% no-repeat padding-box;
}
.title-card-testimony {
	text-align: left;
	font-size: 16px;
	letter-spacing: 0px;
	color: #292929;
}
.d-flex .avatar-image {
	width: 100px;
	height: 100px;
	border: 5px solid #ff9222;
	display: flex;
	overflow: hidden;
	position: relative;
	font-size: 1.25rem;
	align-items: center;
	flex-shrink: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1;
	user-select: none;
	border-radius: 50%;
	justify-content: center;
}
.avatar-image img {
	width: 100%;
	height: 100%;
}
.p-card-testimony {
	text-align: left;
	font-size: 12px;
	letter-spacing: 0px;
	color: #383838;
	opacity: 0.5;
	margin: 0px;
	max-height: 82px;
	text-overflow: ellipsis;
	overflow-y: auto;
}
.mh-100 {
	max-height: 100px;
}
.testimony-cont {
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	height: 168px;
}
.slick-slide > div {
	margin: 5px;
	padding: 2%;
}
.logo-72d {
	width: 30px;
	padding: 5px 5px 10px;
}
.area-selector-sub-title {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0px;
	color: #363636;
	opacity: 1;
}
.absolute-logo {
	position: absolute !important;
	right: calc(50% - 63px);
}
.d-flex .select-area-btn {
	width: 15%;
	/* background-color: #efefef; */
	background-color: #e5e5e5;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	font-size: 14px;
	letter-spacing: 0px;
	color: #000000;
	box-shadow: none;
	height: 50px;
}
.d-flex .select-area-btn.active {
	background: #b9b0a2 0% 0% no-repeat padding-box !important;
}
.d-flex .select-area-btn:hover {
	background: #b9b0a2 0% 0% no-repeat padding-box;
	box-shadow: 3px 3px 3px #DBDBDBCE;
	opacity: 1;
}
.green-color {
	color: #94b200;
}
.red-color {
	color: #db1e0b;
}
.bg-land-row {
	background: transparent linear-gradient(180deg, #eaeaea 0%, #d3d3d3 100%) 0% 0% no-repeat padding-box;
	font-size: 16px;
	color: #6b6b6b;
}
.checkbox-sub-title {
	text-align: center;
	letter-spacing: 0px;
	color: #292929;
	font-size: 18px;
	font-weight: 600;
}
.checkbox-title {
	text-align: center;
	font-size: 18px;
	letter-spacing: 0px;
	color: #292929;
}
.checkbox-title .selected {
	color: #6b6b6b !important;
}
.map-cont {
	width: 100%;
	height: 400px;
}
.sticky-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: auto;
	right: 0;
	position: fixed;
	z-index: 1100;
}
.margin-cont {
	margin-top: 196px;
}
#map,
#single_map {
	height: 100%;
}
.mapIconLabel {
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	font-family: 'DINNextRoundedLTProMediumRegular';
}
.divider-popup {
	height: 100%;
	margin: 4;
	width: 2px;
	background-color: "#FF8F1C";
}
.green-btn {
	background-color: #94b200 !important;
}
.small-icon-image {
	width: 21px;
	height: 21px;
	margin: 2px;
}
section {
	scroll-behavior: smooth;
}
.pd-top-5 {
	padding-top: 1px;
}
.mobile-simple-p {
	font-size: 12px;
	text-align: center;
}
.mobile-simple-title {
	color: #626262;
	font-size: 14px;
	text-align: center;
}
.mobile-b-simple-p {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #525252;
}
.divider-green-mobile {
	width: 50%;
	margin: auto;
	height: 1.5px;
	background-color: #94b200;
}
.divider-green-desktop {
	width: 100%;
	margin: auto;
	height: 1px;
	background-color: #94b200;
}
.card-mobile-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	background: #00000080;
	opacity: 1;
	color: white;
	text-align: left;
	z-index: 10000;
	padding: 5px;
	font-weight: bold;
}

.nav-menu-cont > a:after {
	content: '';
	width: 90%;
	height: 2px;
	background: #b2b2b2;
	position: absolute;
	left: -90%;
	border-radius: 5px;
	transition: .4s;
	opacity: 1;
	bottom: 5px;
}
.nav-menu-cont > a:hover:after {
	left: 10px;
}
.nav-menu-cont > a {
	position: relative;
	overflow: hidden;
	color: #ffffff;
	transition: .4s;
	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.image-container {
	margin-bottom: 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container .single-img {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-transition: opacity 0.3s !important;
	display: block !important;
	height: auto !important;
	margin: 0 auto !important;
	max-width: 100% !important;
	user-select: none !important;
	opacity: 1 !important;
	transition: opacity 0.3s !important;
	cursor: pointer;
	max-height: calc(100vh - 90px);
}

.close-modal {
	cursor: pointer;
	border-radius: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 44px;
	height: 44px;
	background: #000000c4 0% 0% no-repeat padding-box;
}
.image-cont {
	position: relative;
}

.slick-slider .slick-arrow.slick-prev,
.slick-slider .slick-arrow.slick-next {
	display: none !important;
}
#slider-cont-sales .slick-slider .slick-arrow.slick-prev {
	left: 12px;
	height: 62px;
	width: 40px;
	background-color: #ff8900;
	font-size: 10px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 50%;
	border-radius: 0px 8px 8px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
#slider-cont-sales .slick-slider .slick-arrow.slick-next {
	right: 12px;
	height: 62px;
	width: 40px;
	background-color: #ff8900;
	font-size: 10px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 50%;
	border-radius: 8px 0px 0px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

#slider-cont-sales .slick-slider .slick-arrow.slick-prev svg,
#slider-cont-sales .slick-slider .slick-arrow.slick-next svg {
	color: #fff;
	font-size: 35px;
}
#slider-cont-sales .slick-slider .slick-arrow.slick-prev,
#slider-cont-sales .slick-slider .slick-arrow.slick-next {
	display: flex !important;
}
#slider-cont-sales .slick-slider .slick-arrow.slick-disabled {
	display: none !important;
}
#slider-cont-sales .slick-slider .slick-arrow.slick-next:before,
#slider-cont-sales .slick-slider .slick-arrow.slick-prev:before {
	font-size: 0px;
	line-height: 0;
	opacity: 0;
}
#slider-cont-sales .slick-dots {
	bottom: -10px !important;
}
.pdp-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
}
.pdp-modal-title {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -0.14px;
	color: #292929;
	opacity: 1;
}
.pdp-modal-car {
	font-size: 18px;
	letter-spacing: -0.14px;
	color: #292929;
	opacity: 1;
	padding: 10px;
}
.pdp-modal-cont,
.pdp-modal-map {
	font-size: 20px;
	letter-spacing: -0.14px;
	color: #292929;
	opacity: 1;
	padding: 20px 10px 10px 10px;
}
.pdp-subtitle {
	text-align: left;
	font-size: 14px;
	letter-spacing: -0.09px;
	color: #292929;
	margin: 0px;
	padding: 10px;
}
.pdp-subtitle span {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.09px;
	color: #94b200;
}
.simple-p-modal {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	margin: 0px;
}
.strong {
	font-weight: 600;
}
.contact-logos-cont {
	padding: 30px;
}
.filter-icon {
	width: 25px;
}
.close-land-modal {
	cursor: pointer;
	border-radius: 19px;
	position: absolute;
	top: 25px;
	right: 10px;
	width: 34px;
	height: 34px;
	background: #000000c4 0% 0% no-repeat padding-box;
}
.close-login-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 19px;
	position: absolute;
	top: 13px;
	right: 10px;
	width: 34px;
	height: 34px;
	background: #000000c4 0% 0% no-repeat padding-box;
}
.login-icon {
	position: absolute;
	top: 13px;
	left: 10px;
	width: 34px;
	height: 34px;
	color: #fff;
	font-size: 27px;
}
.close-login-modal svg {
	font-size: 24px;
}
.close-land-modal img {
	width: 100%;
	height: 100%;
}
.login-modal-content .login-profile-icon {
	font-size: 120px;
	color: #525252;
}
.or-modal-text {
	color: #484848;
	font-size: 12px;
}
.login-modal-content {
	padding: 10px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 520px;
	overflow-y: auto;
}
.circle-step-empty.circle-icon-index.active {
	background: #ff8f1c;
	border: 2px solid #ff8f1c;
}
.field-cont-step-one {
	width: 100%;
	padding: 7px 0px;
}
.info-account-modal-content {
	padding: 10px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 520px;
	overflow-y: auto;
}
.step-one-modal-content {
	padding: 10px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 520px;
	overflow-y: auto;
	min-height: 520px;
}
.step-one-panel {
	overflow-y: auto;
	height: 290px;
	padding-bottom: 10px;
}
.ytd-thumbnail-overlay-side-panel-renderer .play-video-btn {
	color: #ffffff;
	width: auto;
	height: 40px;
}
.ytd-thumbnail-overlay-side-panel-renderer {
	display: flex;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.2);
	color: var(--yt-spec-static-overlay-text-primary);
	text-align: center;
	font-size: var(--ytd-subheadline_-_font-size);
	font-weight: var(--ytd-subheadline_-_font-weight);
	line-height: var(--ytd-subheadline_-_line-height);
	letter-spacing: var(--ytd-subheadline_-_letter-spacing);
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.form-control-step-padding {
	padding: 10px 0px;
}

/*  */
.container-zone {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.container-zone > p {
	font-size: 1rem;
}

.container-zone > em {
	font-size: .8rem;
}

.dropzone {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: dashed;
	background-color: #fafafa;
	color: #bdbdbd;
	outline: none;
	transition: border .24s ease-in-out;
	width: 100%;
}

#land-info-slider .slick-slider .slick-arrow.slick-prev,
#land-info-slider .slick-slider .slick-arrow.slick-next {
	display: block !important;
}

#land-info-slider .slick-dots {
	bottom: -5px !important;
}

#land-info-slider .slick-prev {
	z-index: 1;
	height: 40px;
	left: 3px !important;
}
#land-info-slider .slick-next {
	z-index: 1;
	height: 40px;
	right: 3px !important;
}
#land-info-slider .slick-prev:before,
#land-info-slider .slick-next:before {
	font-size: 35px;
	color: #ff8900;
}
.land-info-img {
	margin: auto;
	height: 360px;
	width: auto;
}
.dropzone .dropzone-icon {
	width: 5rem;
	height: 5rem;
	margin-bottom: 10px;
}

.dropzone:focus {
	border-color: #fe8e1b;
}

.dropzone.disabled {
	opacity: 0.6;
}

/*  */
.buttons-form-one-cont {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.select-step-one {
	background-color: #f5f5f5;
	border-radius: 4px;
}
.full-loader-cont {
	width: 100%;
	height: 100vh;
	position: absolute !important;
	background: #fff;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-step-empty.circle-icon-index.done {
	background-color: #94b200;
	border: 2px solid #94b200;
}
.success-step-one-cont {
	padding: 50px 0px 10px 0px;
	min-height: 440px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.arrow-back-circular-btn {
	background: transparent -webkit-linear-gradient(top, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
	height: 48px !important;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
	margin-right: 10px !important;
}
.white-arrow {
	color: #ffffff;
}
.form-control-step-padding .label-step {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	color: #939393;
	opacity: 1;
	padding-bottom: 10px;
}
.stickyWhatsappCont {
	position: fixed;
	bottom: 30px;
	right: 30px;
}
.stickyWhatsappCont img {
	width: 68px;
	height: 68px;
}
.main-video-cont {
	padding: 0px;
}
.email-error-text {
	width: 90%;
	color: #f44336;
	margin: 0;
	margin-left: 14px;
	margin-right: 14px;
	font-size: 0.75rem;
	text-align: left;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.03333em;
	display: none;
}
.form-error-text {
	width: 90%;
	color: #f44336;
	margin: 0px;
	font-size: 0.9rem;
	text-align: center;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.03333em;
	display: none;
	margin: 0px;
	padding-top: 10px;
}
.email-error-text.sign-process {
	margin-top: -10px;
	margin-bottom: 5px;
}
.select-sp.email-error-text.sign-process {
	margin-top: 2px !important;
	margin-bottom: 5px !important;
}
.form-error-text.active,
.email-error-text.active {
	display: inline;
}
.padding-b5 {
	padding-bottom: 5px !important;
}
.color-white {
	color: #fff;
}
.write-ws-mg {
	margin-left: 4px;
}
.gallery-img-cont {
	padding: 5px !important;
}
.gallery-img-cont > div {
	border-radius: 6px;
	cursor: pointer;
}
.gallery-img-cont:hover > div > .only-on-hover.card-info {
	opacity: 1;
	-webkit-transform: translateY(-130px);
	-moz-transform: translateY(-130px);
	transform: translateY(-130px);
}
.gallery-img-cont:hover > div > .only-on-hover.video-info {
	opacity: 1;
	-webkit-transform: translateY(70px);
	-moz-transform: translateY(70px);
	transform: translateY(70px);
}
.gallery-img-cont:hover > div:before {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px, rgba(0, 0, 0, 0.04) 0px 8px 14px,
		rgba(0, 0, 0, 0.02) 0px 12px 5px;
	opacity: 1;
}
.gallery-img-cont:hover > div {
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}
.gallery-img-cont > div:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.checklist-paragraph {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.05px;
	color: #292929;
}

.checklist-state-cont {
	background: #ededed 0% 0% no-repeat padding-box;
	border-radius: 3px;
	opacity: 1;
	padding: 5px 30px;
	font-size: 16px;
	font-weight: 400;
}

.checklist-title-text {
	font-weight: 500;
	color: #94b200;
}

.ai-center.d-flex.column .edit-btn-profle {
	color: #ff8900;
	border-color: #ff8900;
	font-weight: 600;
}

.clickable {
	cursor: pointer;
}

.card-info {
	padding: 0px 10px;
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(-100px);
	transition: 0.5s;
}
.video-info {
	padding: 0px 10px;
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}
.overlay-title {
	margin: 0px;
	font-size: 20px;
	text-align: center;
}
.justified {
	text-align: justify;
}
.simple-p.semi-black.justified {
	font-size: 15px !important;
}
/* .gallery-img-cont:hover div:first-child  {
	display: none;
} */
.sales-first-item {
	max-width: 49.1015625%;
	flex: 0 0 49.1015625%;
}
.sales-normal-item {
	max-width: 24.55078125%;
	flex: 0 0 24.55078125%;
}
.modal-header-account {
	width: 100%;
	height: 60px;
	background-color: #94b200;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-header-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.profile-menu {
	width: 300px;
}
#simple-menu .menu-text {
	font-size: 14px;
}
#simple-menu .menu-text.green {
	color: #9ac200;
}
.profile-header-title {
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: -0.13px;
	color: #9ac200;
	padding-bottom: 20px;
}
.avatar-profile {
	height: 150px !important;
	width: 150px !important;
	margin-bottom: 10px;
}
.profile-divider {
	max-width: 600px;
	width: 100%;
	margin: 10px 0px;
}
.call-us-divider {
	max-width: 600px;
	width: 100%;
	margin: 10px 0px;
	background-color: #9ac200 !important;
}
.special-cont-profile {
	display: flex;
	max-width: 75rem;
	min-height: 40px;
	margin: 0px auto !important;
}
.profile-name {
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #3e3e3e;
}
.profile-phone,
.profile-email {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #a0a0a0;
}
.text-liked-lands {
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #3e3e3e;
	position: relative;
	min-width: 300px;
	justify-content: center;
	padding-bottom: 30px;
}
.backspace-profile {
	position: absolute !important;
	left: 0px;
}
.arrow-green {
	color: #94b200;
}
.land-number-profile {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0px;
	color: #3e3e3e;
}
.label-spec-map {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 70px;
	z-index: 3;
	top: 10px;
	background: #000000a3;
	padding: 5px 10px 5px 5px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
}
.green-dot {
	color: #9fc230;
	margin-right: 5px;
}
.btn-success-green {
	background: #94b200 !important;
}
.red-dot {
	color: #f0270e;
	margin-right: 5px;
}
.table-favorite-header {
	margin: 0px 12px;
}
.special-cont-profile .mobile-only {
	display: none !important;
}
.call-us-cont {
	background: transparent linear-gradient(180deg, #eaeaea 0%, #adadad 100%) 0% 0% no-repeat padding-box;
	border-radius: 6px;
	width: 400px;
	padding: 10px;
	position: relative;
}
.call-us-cont .icon-floating-right img {
	height: 60px;
	width: auto;
}
.icon-floating-right {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.call-us-text {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #292929;
}
.call-us-text.orange {
	color: #e36f36 !important;
}
.call-us-info-box {
	display: flex;
	padding: 20px;
	width: 600px;
	border-radius: 6px;
	box-shadow: 0px 3px 6px #00000029;
	background: #eaeaea 0% 0% no-repeat padding-box;
}
.smily-icon .smily-cont-size {
	width: 70px;
	height: 70px;
}
.call-us-right-text {
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 600;
	padding-left: 10px;
}
.call-us-sub-text {
	color: #525252;
	font-size: 14px;
}
.call-us-register-btn {
	min-width: 200px !important;
	font-weight: 600 !important;
	border-radius: 3px;
	background: transparent linear-gradient(180deg, #ff8f1c 0%, #e07200 100%) 0% 0% no-repeat padding-box;
}
.call-us-login {
	padding-top: 10px;
	display: flex;
	color: #525252;
	font-size: 13px;
}
.call-us-link {
	margin-left: 5px;
	text-decoration: underline;
}
.special-cont-profile .pd-bot-20 {
	padding-bottom: 30px !important;
}
.special-cont-profile .pd-top-20 {
	padding-top: 20px !important;
}
.step-icon-cont {
	position: relative;
}
.vertical-line-step {
	z-index: 0;
	top: 0;
	right: calc(50% - 1.5px);
	width: 3px;
	height: 100%;
	position: absolute;
	background-color: #e3e3e3;
}
.circle-icon-index {
	z-index: 2;
	position: relative;
}
.table-step-number {
	color: #ff8f1c;
	font-weight: 600;
	font-size: 18px;
	margin-right: 5px;
}
.table-step-text {
	color: #707070;
	font-weight: 500;
	font-size: 14px;
}
.table-header-steps {
	font-size: 14px;
	font-weight: 500;
	color: #292929;
	text-transform: uppercase;
}
.step-one-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0px;
}
.step-one-title .text-so-title {
	font-size: 16px;
	color: #3e3e3e;
	font-weight: 500;
}
.text-so-s-title {
	font-size: 22px;
	color: #292929;
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}
.success-check-circle {
	font-size: 95px !important;
	color: #94b200 !important;
	padding-bottom: 10px;
}
.text-so-s2-title {
	font-size: 20px;
	color: #292929;
	font-weight: 500;
	text-align: center;
}
.circle-icon-index.grey {
	color: #707070;
}

.circle-step-empty {
	border: 2px solid #707070;
	height: 24px;
	width: 24px;
	background-color: #fff;
	border-radius: 30px;
}
.flex-cont-step-title {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
}
.tab-label-top {
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	color: #707070;
}
.tab-label-bottom {
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	color: #707070;
}
.Mui-selected .MuiTab-wrapper .tab-label-cont .tab-label-top,
.Mui-selected .MuiTab-wrapper .tab-label-cont .tab-label-bottom {
	color: #ff8f1c !important;
}
.step-two-btn-cont .mb-10 {
	margin-bottom: 10px !important;
}
.mb-10 {
	margin-bottom: 10px;
}
.mt-10 {
	margin-top: 10px;
}
.checklist-mobile-cont {
	width: 100%;
}
.step-cont-mob {
	padding: 10px 0px;
	display: flex;
	width: 100%;
}
.step-cont-mob .first-sec {
	display: flex;
	flex-direction: column;
	width: 80px;
}
.step-cont-mob .second-sec {
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.step-cont-mob .third-sec {
	width: calc(100% - 120px);
}
.number-step-mob {
	text-align: center;
	font-size: 26px;
	letter-spacing: 0px;
	color: #ff8f1c;
	font-weight: 600;
	margin-top: -6px;
}
.text-number-step-mob {
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: -0.26px;
	color: #707070;
}
.step-mobile-card {
	width: 100%;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}
.step-mobile-card .step-mobile-card-header {
	background: #ededed 0% 0% no-repeat padding-box;
	border-radius: 6px 6px 0px 0px;
	text-align: left;
	letter-spacing: 0px;
	color: #707070;
	font-size: 12px;
	padding: 5px;
}
.step-mobile-card .step-mobile-card-status {
	text-align: right;
	letter-spacing: 0px;
	color: #707070;
	font-size: 12px;
	padding: 10px;
}
.step-mobile-card .step-mobile-card-description {
	letter-spacing: 0px;
	color: #707070;
	font-size: 12px;
	padding: 0px 10px;
	text-align: left;
}
.step-mobile-card .step-two-btn-cont .checklist-btn-mob {
	width: 100%;
	text-align: center;
	font-size: 10px !important;
	font-weight: 600;
	letter-spacing: 0px;
	color: #707070;
	margin-top: 10px !important;
}
.pd-b-0 {
	padding-bottom: 0px !important;
}
.mt-negative-10 {
	margin-top: -10px;
}
.faq-title {
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0px;
	color: #a3ad31;
}
.br-20 {
	padding: 10px;
}
.accordion-details-bg {
	background-color: #ededed;
	padding-top: 20px !important;
}
.accordion-header-bg {
	background-color: #e0e0e0 !important;
	color: #6b6b6b !important;
	font-weight: bold !important;
}
.simple-title-faq {
	margin: 0px;
	text-align: center;
	font-size: 26px;
}
#contact-button.MuiButton-contained.Mui-disabled {
	color: #707070 !important;
	background: #e4e4e4 0% 0% no-repeat padding-box !important;
	border: 1px solid #c1c1c1;
}
@media (max-width: 1070px) {
	#home .carousel.slide .carousel-indicators {
		display: none;
	}
	.faq-title {
		font-size: 15px;
	}
	.simple-title-faq.green.padding-b20 {
		padding-bottom: 0px;
		font-size: 22px;
	}
	.img-cont-sales {
		padding-top: 10px;
	}
	#land-info-slider .slick-next {
		right: 0px !important;
	}
	#land-info-slider .slick-prev {
		left: 0px !important;
	}
	.land-info-img {
		margin: auto;
		height: 260px;
		width: auto;
	}
	.now-enjoy-cont {
		padding-top: 20px;
	}
	.now-enjoy {
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		letter-spacing: -0.26px;
		color: #94b200;
		margin: 0px !important;
	}
	.now-enjoy-sub-p {
		text-align: center;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: -0.26px;
		color: #707070;
		margin: 0px !important;
	}
	.mobile-only-checklist {
		display: inherit !important;
	}
	.modal-header-title {
		max-width: calc(100% - 90px);
		text-align: center;
	}
	.step-one-panel {
		overflow-y: auto;
		height: 100%;
		padding-bottom: 10px;
	}
	.tab-label-top {
		font-size: 22px;
	}
	.tab-label-bottom {
		font-size: 10px;
	}
	.vertical-line-step {
		margin-top: 11px;
		left: calc(100px - 1.5px);
		right: inherit;
	}
	.checklist-mobile-cont {
		position: relative;
	}
	.step-mobile-card .step-two-btn-cont {
		padding: 0px 10px 10px 10px;
	}
	.ai-center.d-flex.column.no-pd-mo {
		padding-top: 0px;
	}
	.checklist-title-text {
		color: #ff8f1c;
		font-size: 15px;
		font-weight: 600;
	}
	.checklist-state-cont {
		padding: 5px 10px;
		text-align: center;
		width: 100%;
		font-size: 15px;
		background: #ededed 0% 0% no-repeat padding-box;
		box-shadow: 0px 2px 3px #00000029;
		border: 1px solid #ededed;
		border-radius: 3px;
	}
	.profile-header-title {
		font-size: 18px;
	}
	.checklist-paragraph {
		color: #707070;
		font-size: 14px;
	}
	.deal-text-cont {
		position: absolute;
		right: 0px;
		bottom: 20px;
		background: rgb(0 0 0 / 37%);
		padding: 5px 15px 5px 5px;
		color: #fff;
	}
	.deal-text-one {
		font-size: 12px;
		margin-bottom: -8px;
	}
	.deal-text-two {
		font-size: 26px;
		font-weight: 500;
		letter-spacing: 1px;
	}
	.deal-text-three {
		font-size: 10px;
		margin-top: -8px;
	}
	.deal-text-two span {
		font-size: 18px;
	}
	.deal-text-one,
	.deal-text-two,
	.deal-text-three {
		text-align: right;
	}
	.green-bar-right {
		position: absolute;
		background: #a2bf1e;
		right: 0px;
		bottom: 10px;
		height: 85px;
		z-index: 4;
		width: 8px;
	}
	.call-us-cont .icon-floating-right img {
		height: 50px;
	}
	.call-us-right-text {
		font-size: 12px;
	}
	.call-us-text {
		font-size: 14px;
	}
	.call-us-cont,
	.call-us-info-box {
		width: 100%;
	}
	.ai-center.d-flex.column .edit-btn-profle {
		width: 100%;
	}
	.label-spec-map {
		right: 10px;
		font-size: 14px;
		padding: 3px 6px 3px 3px;
	}
	.special-cont-profile {
		max-width: 100%;
		margin-top: 48px !important;
	}
	#testimony-text-cont-id {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.d-flex.row.full-width.full-height.padding-20.testimony-cont.bg-grey-card {
		padding: 0px 10px;
	}
	.logged-in-mobile-btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.logged-in-mobile-btn .mobile-btn-profile-text {
		max-width: 30px;
		overflow-x: hidden;
		text-overflow: ellipsis;
		color: rgb(82, 82, 82);
		max-height: 10px;
		font-size: 10px;
		text-align: center;
		font-weight: bold;
	}
	/* .login-icon {
		display: none;
	} */
	.close-login-modal {
		top: 10.15px;
	}
	.modal-header-account {
		margin-bottom: 20px;
	}
	.login-modal-content {
		width: 100%;
		max-height: inherit;
		height: 100%;
	}
	.footer-small-text {
		padding-bottom: 10px;
	}
	.d-flex .select-area-btn:hover {
		background-color: #efefef;
	}
	#home {
		margin-top: 68px;
	}
	.slick-dots li {
		width: 10px;
		height: 10px;
	}
	.main-video-cont {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	#encuentra_tu_parcela_title {
		padding-bottom: 10px;
	}
	.stickyWhatsappCont {
		position: fixed;
		bottom: 30px;
		right: 20px;
	}
	.stickyWhatsappCont img {
		width: 58px;
		height: 58px;
	}
	.mb-gall-cont {
		padding: 0px;
		margin: 2px;
		position: relative;
	}
	.ytd-thumbnail-overlay-side-panel-renderer {
		border-radius: 10px;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		height: 70px;
		width: 40px;
		background-color: transparent;
	}

	.mb-big-baner {
		width: 100%;
		height: 160px;
		border-radius: 10px;
		background-color: #b2b2b2;
		margin-top: 10px;
	}
	#nuestra_ubicacion .slick-dots li.slick-active button:before,
	#caracteristicas .slick-dots li.slick-active button:before,
	#lugares_cercanos .slick-dots li.slick-active button:before {
		color: #94b200;
	}
	.slick-dots {
		bottom: -10px;
	}
	.close-icon-drawer {
		position: absolute;
		top: 10px;
		right: 5px;
		width: auto;
		z-index: 1;
		background-color: white;
		border-radius: 20px;
		border: solid 1px #94b200;
		color: #94b200;
	}
	.nav-bold span {
		font-weight: 600;
	}
	.white-divider {
		background-color: rgb(242 242 242 / 38%);
	}
	.mobile-white-logo {
		width: auto;
		height: 30px;
		margin-right: 10px;
	}
	.list-item-g {
		background-color: #94b200;
	}
	.nav-home-icon {
		margin-right: 5px;
		height: 24px;
		width: 27px;
		color: #fefefc;
	}
	.drawer-list {
		padding: 0px !important;
		max-width: 100%;
		color: #fefefc;
	}
	.mob-popup.green-color {
		padding: 4px;
	}
	.simple-p.mob-popup.mr-3 {
		margin-right: 4px !important;
	}
	.simple-p.mob-popup {
		font-size: 11px;
	}
	.mob-popup.green-btn {
		padding: 0px;
		font-size: 10px;
		height: 25px;
	}
	.gm-style .gm-style-iw-c {
		max-width: 275px !important;
		min-width: 275px !important;
	}
	#content {
		width: 100%;
	}
	.mob-cp-p {
		padding: 5px;
	}
	.mobile-car-hr {
		max-width: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.small-icon-image {
		width: 12px;
		height: 12px;
	}
	.mobile-padding.d-flex.jc-space-b.ai-center.padding-b20.row.full-width.m-0 {
		padding: 0px 0px 5px 0px;
	}
	.d-flex .select-area-btn {
		width: 32%;
		height: 30px;
		font-size: 11px;
		padding: 0px;
		margin-bottom: 5px;
	}
	.select-area-btn img {
		width: 15px;
		height: 15px;
	}
	.area-selector-sub-title {
		font-size: 13px;
	}
	.simple-title.green.padding-b20 {
		padding-bottom: 0px;
	}
	.mobile-ml-10 {
		margin-left: 10px;
	}
	.title-card-testimony {
		font-size: 16px;
	}
	.p-card-testimony {
		font-size: 14px;
	}
	.testimony-cont {
		padding: 0px;
	}
	.mobile-full-width {
		width: 100%;
	}
	.contact-button {
		width: 100%;
	}
	.mobile-flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 0px 10px;
	}
	.contact-button {
		width: 100%;
	}
	.contact-card-text {
		font-size: 16px;
	}
	.contact-g-card {
		height: 200px;
	}
	.contact-grey-card {
		height: auto;
	}
	.contact-grey-card > div {
		flex-direction: column;
		height: auto;
	}
	.mobile-nl-title.d-flex.ai-start.column {
		flex-direction: row;
		width: 100% !important;
		max-width: 100% !important;
		justify-content: center;
	}
	.contact-grey-card .title {
		font-size: 22px;
	}
	.contact-grey-card .title:nth-child(1) {
		padding-right: 10px;
	}
	.contact-grey-card .full-height > div {
		padding: 0px;
	}
	.nav-menu-cont > a {
		font-size: 12px;
	}
	.mobile-mt-5 {
		margin-top: 5px !important;
	}
}
.desktop-white-logo {
	width: auto;
	height: 40px;
}
.big-banner {
	padding-top: 2rem;
	width: 100%;
}
.big-banner img {
	width: 100%;
	border-radius: 10px;
}
@media (max-width: 850px) {
	.contact-g-card .d-flex {
		flex-direction: column;
	}
	.contact-logos-cont {
		padding: 10px;
	}
	.phone-logo {
		width: 64px;
		height: 64px;
	}
	.simple-title {
		font-size: 20px;
	}
	.simple-p {
		font-size: 14px;
	}
	.b-simple-p {
		font-size: 14px;
	}
	.d-flex.ai-center.jc-space-b.full-width .icon-cont-button {
		height: 60px;
	}
	.desktop-only {
		display: none !important;
	}
	.mobile-only {
		display: inherit;
	}
}

@media (min-width: 720px) {
	.d-md-flex {
		display: flex !important;
	}
	.d-md-none {
		display: none !important;
	}
}

@media (max-width: 600px) {
	.mobile-only {
		display: block;
	}
	.desktop-only {
		display: none;
	}
}

/* gallery */
.item1 {
	grid-area: item1;
}
.item2 {
	grid-area: item2;
}
.item3 {
	grid-area: item3;
}
.item4 {
	grid-area: item4;
}
.item5 {
	grid-area: item5;
}
.item6 {
	grid-area: item6;
}

.grid-container {
	display: grid;
	/* grid-template-areas: 'item1 header header header header header' 'item1 item3 item3 item3 right right'
		'item1 item3 item3 item3 footer footer' 'item1 item3 item3 item3 footer footer'; */
	grid-template-areas: 'item1 item2 item2 item4 item6 item6' 'item1 item2 item2 item4 item6 item6'
		'item1 item2 item2 item4 item5 item5' 'item1 item3 item3 item3 item5 item5'
		'item1 item3 item3 item3 item5 item5';
	grid-template-rows: 50px 50px 50px 50px 50px;
	grid-gap: 10px;
	background-color: #2196f3;
	padding: 10px;
}

.grid-container > div {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 0;
	font-size: 30px;
}

@import "/node_modules/react-image-gallery/styles/css/image-gallery.css";
